@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@media (max-width: 768px) {
  .mobile-calendar-popup {
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 72vw !important;
  }

  .mobile-calendar-popup .ant-picker-panel-container {
    width: 100% !important;
    max-width: 72vw !important;
    border-radius: 14px !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toastify-color-success: #009c5e;
}

.Toastify__close-button {
  align-self: center;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}
